<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
    <title>Getting Started: Serving Web Content</title> 
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <form action="/addCustomer" method="post" style="display: flex; flex-direction: column;">
        <label>Title:</label>
        <select name="title" required>
            <option value="Mr">Mr</option>
            <option value="Mrs">Mrs</option>
            <option value="Miss">Miss</option>
            <option value="Ms">Ms</option>
            <option value="Master">Master</option>
            <option value="Dr">Dr</option>
        </select>
        <label>First name:</label>
        <input type="text" name="first_name" required maxlength="50"/>
        <label>Last name:</label>
        <input type="text" name="last_name" required maxlength="50"/>
        <label>Email address:</label>
        <input id="email_address" type="text" name="email_address" required/>
        <label>Address Line 1:</label>
        <input type="text" name="address_line_1" required maxlength="255"/>
        <label>Address Line 2:</label>
        <input type="text" name="address_line_2" maxlength="255"/>
        <label>City:</label>
        <input type="text" name="city" maxlength="255"/>
        <label>Postcode:</label>
        <input type="text" name="postcode" required maxlength="10"/>
        <label>Phone number:</label>
        <input type="text" name="phone_number" maxlength="20"/>
        <button id="submit" type="submit">Submit</button>
    </form>
</body>
</html>